@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;

}

.bg-dark {
    background-color: rgb(26,26,26,255) !important;
}

h4 {
    font-size: 2em;
}

/*---------------------- TEXTS ------------------------>*/  

.texto1 {
    color: rgb(126,126,126,255);
    font-weight: bold;
    font-family: Open sans;
    font-size: 1.25em;
}


.textocard01 {
    color: rgba(240,182,77,255) !important;
    font-family: Open sans;
    font-weight: bold !important;
    font-size: 1.50em;
}

.subtextocard01 {
    color: rgba(246,177,79,255);
    font-family: Open sans;
    font-weight: bold;
    font-size: 1.25em;
}

.textocard02 {
    color: rgba(248,234,177,255);
    font-family: Open sans;
    font-weight: bold;
    font-size: 1.50em;
}

.subtextocard02 {
    color: rgba(248,234,177,255);
    font-family: Open sans;
    font-weight: bold;
    font-size: 1.25em;
}

.textocard03 {
    color: rgba(164,119,74,255);
    font-family: Open sans;
    font-weight: bold;
    font-size: 1.50em;
}

.subtextocard03 {
    color: rgba(164,119,74,255);
    font-family: Open sans;
    font-weight: bold;
    font-size: 1.25em;
}

/*---------------------- CARDS ------------------------>*/    

.card01 {
    background-color: rgb(255,132,71,255) !important;
    font-family: Open sans;
}

.card02 {
    background-color: rgba(160,170,97,255) !important;
    font-family: Open sans;
}

.card03 {
    background-color: rgba(253,210,131,255) !important;
    font-family: Open sans;
}

/*---------------------- BUTTONS ------------------------>*/      

.botaodownload {
    display: inline-block;
    position: relative;
    background: rgb(255,132,71,255) !important;
    font-family: Open sans;
    font-size: 1.25em;
    padding-top: 5px;
    margin-left: 0%;
}

.button01 {
    position: relative !important;
    background: rgb(255,132,71,255) !important;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Open sans";
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
}

.button02 {
    position: relative !important;
    background: rgb(160,170,97,255) !important;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Open sans";
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
}

.button03 {
    position: relative !important;
    background: rgb(253,210,131,255) !important;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Open sans";
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
}

.button04 {
    position: relative !important;
    background: rgb(191,191,93,255) !important;
}
.texto2 {
    color: rgb(126,126,126,255);
    font-weight: bold;
    font-family: Open sans;
    font-size: 1.25em;
}

.textocard01 {
    color: rgba(240,182,77,255);
    font-family: Open sans;
    font-weight: bold;
    font-size: 1.50em;
}

.subtextocard01 {
    color: rgba(246,177,79,255);
    font-family: Open sans;
    font-weight: bold;
    font-size: 1.25em;
}

.textocard02 {
    color: rgba(248,234,177,255);
    font-family: Open sans;
    font-weight: bold;
    font-size: 1.50em;
}

.subtextocard02 {
    color: rgba(248,234,177,255);
    font-family: Open sans;
    font-weight: bold;
    font-size: 1.25em;
}

.textocard03 {
    color: rgba(164,119,74,255);
    font-family: Open sans;
    font-weight: bold;
    font-size: 1.50em;
}

.subtextocard03 {
    color: rgba(164,119,74,255);
    font-family: Open sans;
    font-weight: bold;
    font-size: 1.25em;
}

.card01 {
    background-color: rgb(255,132,71,255) !important;
    font-family: Open sans;
}

.card02 {
    background-color: rgba(160,170,97,255) !important;
    font-family: Open sans;
}

.card03 {
    background-color: rgba(253,210,131,255) !important;
    font-family: Open sans;
}

.botaodownload {
    display: inline-block;
    position: relative;
    font-family: Open sans;
    font-size: 1.25em;
    padding-top: 5px;
    margin-left: 0%;
    width: fit-content;
}


.button__text01 {
    display: inline-block;
    position: relative;
    padding-top: 5px;
    margin-left: 5px;
    width: fit-content;
    color: rgba(246,177,79,255);
    font-family: Open sans;
    font-weight: bold;
    font-size: 1.25em;
}


.button__icon01 {
    display: inline-block;
    align-items: right;
    padding: 0 50%;
    color: none;
    height: 50%;
}

.icone{
    position: absolute;
    right: 15px;
}

.btn-primary {
    background-color: rgb(54,149,74,255) !important;
}

